.html {
    padding: 0;
    margin: 0;

}

span {
    color: #FFFFFF;
}

.body-main {
    background-color: black;
    margin: 0;
    color: #FFFFFF;
}

/* .main-body {
    background-color: black;
} */

.header-container {
    display: flex;

}

#top-heading {
    display: flex;
    color: black;
    margin: 20px 0 0 -28px;
    font-size: 30px;
}

#burger-menu {
    width: 60px;
    height: 60px;
    margin: 31px 0 0 29px;
}

.navbar-container a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 100px;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 898px;
    background-color: #FFFFFF;
}

.offcanvas {
    width: 240px !important;
}

#numberOfCourses {
    background-color: transparent;
    color: #FFFFFF;
}

#gradeRecieved {
    background-color: transparent;
    color: #FFFFFF;
}

/* Body */

.body-container {
    display: flex;
    margin-top: 235px;
    flex-direction: column;
    align-items: center;
}

.optionOne {
    width: 255px;
    height: 75px;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 10px;
}

.optionOne:hover,
.optionTwo:hover {
    background-color: #FFFFFF;
}

.or-text {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.optionTwo {
    width: 255px;
    height: 75px;
    background-color: skyblue;
    border-radius: 20px;
}


/* Automated Page */

.body-automated {
    background-color: #FBFFFE;
}

.header-text {
    color: black;
}

.question {
    font-size: 30px;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 10px solid black; */
    /* background-color: #FFFFFF; */
    text-align: center;
    border-radius: 45px;
    padding: 20px;
}

#userCourses input {
    text-align: center;
    color: black;
    border-radius: 15px;
}

/* #userCourses input::placeholder{
    color: black;
} */

#userCourses span {
    color: black;
    font-size: 20px;
}

.generate {
    background-color:slategray;
    border-radius: 10px;
    margin-top: 10px;
    color:#FFFFFF;
    border: transparent;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
}

.generate:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* .generate span{
    font-size: 30px;
} */

/* Manual Page */

.body-manual {
    background-color: aqua;
}